{% extends 'base.html' %}

{% load staticfiles %}

{% block other_stylesheets %}
<link rel="stylesheet" href={% static "css/tutor_detail.css" %}>

{% endblock %}

{% block title %}{{tutor}}{% endblock %}

{% block content %}
  <div id="section1" class="jumbotron">
    <h1>{{tutor}}</h1>
    <h2>Session & Demo Vocalist</h2>
    <p>&#9733;&#9733;&#9733;&#9733;&#9733;55 reviews (51 Verified)</p>
    <p>{{tutor.address}}</p>
  </div>
  <div id="section2" class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#bio">Bio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Reviews (55)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#interview">Interview</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-success btn-lg" style="float: right;">Contact {{ tutor.first_name }}</button>
      </div>
    </div>
  </div>
  <div id="section3" class="container">
    <div style="margin-top: 0px;" class="row">
      <div class="col-sm-8">
        <div id="bio" class="container">
          <p style="padding-top: 50px;"><strong>{{tutor.bio1}}</strong></p>
          <p>{{tutor.bio2}}</p>
          <p><strong>{{tutor.bio3}}</strong></p>
        </div>
        <hr>
        <div id="courses" class="container">
          <h3 style="text-align: left; margin-bottom: 20px;">Courses</h3>
            <table id="coursesTable" class="table" style="width:100%">
              <thead class="thead-light">
                <tr>
                  <th>Category</th>
                  <th>Subject</th>
                  <th>Level</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for course in courses %}
                <tr>
                  <td>{{course.category}}</td>
                  <td>{{course.subject}}</td>
                  <td>{{course.level}}</td>
                  <td>€ {{course.price}}</td>
                  <td> <button type="button" class="btn btn-outline-success">Book now!</button> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <hr>
        <div id="reviews" class="container">
          <h3>55 Reviews</h3>
          {% for review in 'xxxxx' %}
            <div class="card review">
              <div class="card-header">
                <img src={% static "images/img_avatar1.png" %} style="width:65px">
                <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                <p class="font-weight-light small">19 days ago by <a href="#"><strong>Timothy Ellul</strong></a></p>
              </div>
              <div class="card-body">
                <p>Vestibulum euismod varius ante, at lacinia dui posuere non. Morbi fermentum, lectus nec fermentum interdum, quam urna blandit tortor, quis mattis felis augue quis tellus.</p>
              </div>
              <!-- <div class="card-footer">Footer</div> -->
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="adverts_col" class="col-sm-4">
        <div class="card advert">
          <p>advert</p>
        </div>
        <div id="more_photos" class="card">
          <div class="card-header">
            <h5>More photos</h5>
          </div>
          <div class="card-body">
            {% for img in gallery %}
              <img src="{{ MEDIA_URL }}{{ img.image_path }}" alt="failed to load" style="width:40px">
            {% endfor %}
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Payment Policy</h5>
          </div>
          <div class="card-body">
            <p>Lessons are paid for in advance. Refunds are given only on presentation of doctor's certificate.</p>
          </div>

        </div>
        <div class="card advert">
          <p>advert</p>
        </div>
        <div class="card">
          lolol
        </div>
      </div>
    </div>
  </div>
{% endblock %}
