{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{tutor}}{% endblock %}

{% block content %}
  {% if tutor %}
    <div class="container">


      <div class="card">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
            <img class="card-img-top" src={% static "images/img_avatar1.png" %} alt="Card image" style="width:100%">
            <p style="text-align:center">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
            <p style="text-align:center"><small>46 reviews</small></p>
            </div>
            <div class="col-lg-9">
              <div class="card-body">
                <h4 class="card-title">Dr. Thomas Scicluna</h4>
                <p>
                  <a href="#" class="card-link">99 983 475</a>
                  <a href="#" class="card-link">tscicluna@gmail.com</a>
                </p>
                <small><em>Triq id-Dundjan, Ħal Qormi</em></small>
                <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                <kbd>physics</kbd> <kbd>mathematics</kbd>
              </div>
            </div>

          </div>
        </div>
      </div>




      <h2>{{tutor}}</h2>
      <p>{{tutor.address}}</p>
      <p>{{tutor.locality}}</p>
      <p>Registered: {{tutor.registration_date}}</p>
      <p>{{tutor.tel}}</p>
      <p>{{tutor.mob}}</p>
      <p>{{tutor.email}}</p>

      <h3>Courses</h3>
      {% if courses %}
        <table style="width:100%">
          <tr>
            <th>Category</th>
            <th>Subject</th>
            <th>Level</th>
            <th>Price</th>
            <th></th>
          </tr>
          {% for course in courses %}
          <tr>
            <td>{{ course.category }}</td>
            <td>{{ course.subject }}</td>
            <td>{{ course.level }}</td>
            <td>€ {{ course.price }}</td>
            <td> <button type="button" name="button">Book now!</button> </td>
          </tr>
          {% endfor %}
        </table>
      {% endif %}

    </div>
  {% endif %}
{% endblock content %}
